/webpage/papers/inertialNavigationVideo.mp4
/webpage/papers/sceneSynthesisDatabase.zip
/webpage/papers/scenegrok.mp4
/webpage/papers/deformablesVideo.mp4
/webpage/papers/sceneSynthesisSupplemental.zip
